# PyTorch
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

# FastAPI and Uvicorn
fastapi==0.115.7
uvicorn==0.34.0
python-multipart==0.0.20

# Ray Tune
ray[tune]==2.41.0

ipykernel==6.29.5
requests==2.32.3
pyyaml==6.0.2