# Base dependencies
seaborn==0.13.2
numpy==1.26.4
pandas==2.2.3
matplotlib==3.9.2
scikit-learn==1.5.2
ipywidgets==8.1.5

# Logging
rich==13.9.4

# PyTorch
--extra-index-url https://download.pytorch.org/whl/nightly/cpu
torch==2.7.0.dev20250204
torchvision==0.22.0.dev20250204
torchaudio==2.6.0.dev20250204

# FastAPI and Uvicorn
fastapi==0.115.7
uvicorn==0.34.0
python-multipart==0.0.20

# Ray Tune
ray[tune]==2.41.0

requests==2.32.3